body {
    background-color: rgb(128, 128, 128);  /
}

.jspsych-display-element {
    font-size: 24px;  
    color: #000000;   
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.jspsych-btn {
    font-size: 24px !important;  
    padding: 12px 40px;      
    margin: 0 30px;       
    border: 2px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}